*{
    margin: 0;
    padding: 0;
    
}
nav{
    background-color: black;
    color: white;
    padding:15px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: gray;
    cursor: cell ;
}
li:hover{
 color: aliceblue;
}
input{
    width: 60%;
    padding: 30px;
}
.searchbar{
    padding: 25px;
    text-align: center;
}
.box{
    border-radius: 4%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
     display: inline-block;
     width: 350px;
     
}
.product{
    text-align: center;

}
.box:hover{
    background-color: rgb(110, 104, 109);
    color:rgb(17, 16, 16);
}
h1{
    margin: 20%;
}
.about{
    padding: 29px;
}
.contact{
    
    color: black;
    text-align: center;
    padding: 40px
}
.hlo{
    padding: 18px;
}